{% include directory ~ '/partials/header.html.twig' %}

<!-- CAROUSEL  -->
<div class="carousel-container">
  <div id="carouselHome" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./themes/custom/gftheme/images/gf-back.png" alt="Global Foresight" class="img-fluid" />
        <div class="carousel-content">
          <div class="col-sm-11 col-xl-4 offset-sm-1">
            <div class="row align-items-center">
              <div class="col-sm-4 col-xl-12 logo-section-1">
                <img src="./themes/custom/gftheme/images/gf-logo.png" alt="Global Foresight" class="img-fluid" />
              </div>
              <div class="col-sm-7 col-xl-12">
                <h5 class="white-color">Somos una organización que identifica y genera nuevas oportunidades en contextos
                  desafiantes. Así, contribuimos a la promoción de empresas y generación de nuevas compañías, con
                  modelos
                  de
                  negocios centrados en dinámicas de las economías emergentes.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="wrapper">
    {# {{ page.primary_menu }}
    {{ page.secondary_menu }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }} #}

    <main role="main">

      <!-- BANNER -->

      <!-- NEGOCIOS -->

      <section class="section-wrapper" id="negocios">
        <div class="negocios-container row">
          <div class="element-of-5">
            <a href="servicios#energia" class="negocio">
              <img src="./themes/custom/gftheme/images/img-energia.png" alt="Energia" class="img-fluid" />
              <div class="negocio-content">
                <img src="./themes/custom/gftheme/images/icon-energia.png" alt="Energia" class="img-fluid" />
                <h4>Energía</h4>
                <p>
                  Realizamos un seguimiento exhaustivo de la energía eléctrica, un componente clave para el desarrollo y
                  bienestar de nuestras sociedades.
                </p>
              </div>
            </a>
          </div>
          <div class="element-of-5">
            <a href="servicios#agro" class="negocio">
              <img src="./themes/custom/gftheme/images/img-agro.png" alt="Agronegocio" class="img-fluid" />
              <div class="negocio-content">
                <img src="./themes/custom/gftheme/images/icon-agro.png" alt="Agronegocios" class="img-fluid" />
                <h4>Agronegocios</h4>
                <p>
                  Analizamos las perspectivas de la agricultura y sus componentes: fundamentales para el crecimiento
                  económico y el desarrollo sostenible.
                </p>
              </div>
            </a>
          </div>
          <div class="element-of-5">
            <a href="servicios#medio" class="negocio">
              <img src="./themes/custom/gftheme/images/img-medio.png" alt="Medio Ambiente" class="img-fluid" />
              <div class="negocio-content">
                <img src="./themes/custom/gftheme/images/icon-medio.png" alt="Medio ambiente" class="img-fluid" />
                <h4>Medio ambiente</h4>
                <p>
                  Colaboramos en el incentivo para que el sector privado y empresarial reduzca sus emisiones de manera
                  eficiente y competitiva.
                </p>
              </div>
            </a>
          </div>
          <div class="element-of-5">
            <a href="servicios#biotec" class="negocio">
              <img src="./themes/custom/gftheme/images/img-biotec.png" alt="Biotecnologia" class="img-fluid" />
              <div class="negocio-content">
                <img src="./themes/custom/gftheme/images/icon-bio.png" alt="Biotecnología" class="img-fluid" />
                <h4>Biotecnología</h4>
                <p>
                  Aprovechamos las oportunidades de inversión en los países emergentes, considerando descubrimientos
                  relacionados a nuevos productos y mercados.
                </p>
              </div>
            </a>
          </div>
          <div class="element-of-5">
            <a href="servicios#tics" class="negocio">
              <img src="./themes/custom/gftheme/images/img-tics.png" alt="TICS" class="img-fluid" />
              <div class="negocio-content">
                <img src="./themes/custom/gftheme/images/icon-tics.png" alt="TICS" class="img-fluid" />
                <h4>TICS</h4>
                <p>
                  Nos adaptamos a la evolución y desarrollo permanente que ofrecen las Tecnologías de Información y
                  Comunicación.
                </p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <!-- SERVICIOS -->

      <section class="section-wrapper" id="servicios">
        <div class="servicios-container row align-items-center justify-content-center">
          <div class="col-sm-12 text-center column-servicios consultoria-container">
            <h4 class="font-bold">
              CONSULTORÍA
            </h4>
            <p class="text-left-expanded">
              Evaluamos las operaciones y planes de diversas empresas para facilitarles un diagnóstico que les permita
              proyectar nuevas estrategias de negocios.
            </p>
            <div class="expanded">
              <p class="text-left">El proceso cuenta con cuatro pasos:</p>
              <ol class="text-left">
                <li>Feedback: información empresa-cliente</li>
                <li>Diagnóstico</li>
                <li>Soluciones: gestión del entorno y movilización de recursos</li>
                <li>Implementación</li>
              </ol>
            </div>
          </div>
          <div class="col-sm-12 text-center column-servicios hidden-element">
            <h4 class="font-bold">FUNDRAISING</h4>
            <p>Ofrecemos un modelo de negocio centrado en las dinámicas de las economías emergentes.</p>
            <div class="expanded">
              <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="719.9px"
                height="234.5px" viewBox="0 0 719.9 234.5" style="enable-background:new 0 0 719.9 234.5;"
                xml:space="preserve">
                <defs>
                </defs>
                <g>
                  <text transform="matrix(1 0 0 1 1.0967 47.8242)" class="st0 st1 st2">Estrategia</text>
                  <text transform="matrix(1 0 0 1 209.0381 47.8242)" class="st0 st1 st2">Fundraising</text>
                  <text transform="matrix(1 0 0 1 401.7793 48.3242)" class="st0 st1 st2">Due diligence</text>
                  <text transform="matrix(1 0 0 1 614.8818 47.8242)" class="st0 st1 st2">Cierre</text>
                  <g>
                    <line class="st3" x1="63.4" y1="5" x2="656.1" y2="5" />
                    <circle class="st4" cx="64.4" cy="5" r="5" />
                    <circle class="st4" cx="653.4" cy="5.5" r="5" />
                    <circle class="st4" cx="478.9" cy="5.5" r="5" />
                    <circle class="st4" cx="271.4" cy="5" r="5" />
                  </g>
                  <g>
                    <rect y="62.8" class="st5" width="170.9" height="169.7" />
                    <text transform="matrix(1 0 0 1 0 74.8086)">
                      <tspan x="0" y="0" class="st6 st7 st8">• Desarrollo de una </tspan>
                      <tspan x="0" y="16.8" class="st6 st7 st8">estrategia de fundraising.</tspan>
                      <tspan x="0" y="37.6" class="st6 st7 st8">• Acuerdo sobre shortlist </tspan>
                      <tspan x="0" y="54.4" class="st6 st7 st8">de potenciales fondos.</tspan>
                      <tspan x="0" y="75.2" class="st6 st7 st8">• Desarrollo de un blind </tspan>
                      <tspan x="0" y="90" class="st6 st7 st8">profile para la compañía.</tspan>
                      <tspan x="0" y="110.8" class="st6 st7 st8">• Preparación de material </tspan>
                      <tspan x="0" y="125.6" class="st6 st7 st8">de presentación para </tspan>
                      <tspan x="0" y="142.4" class="st6 st7 st8">fondos.</tspan>
                    </text>
                  </g>
                  <g>
                    <rect x="209.3" y="64.8" class="st5" width="169.6" height="169.7" />
                    <text transform="matrix(1 0 0 1 209.3428 76.8086)">
                      <tspan x="0" y="0" class="st6 st7 st8">• Contacto de fondos </tspan>
                      <tspan x="0" y="16.8" class="st6 st7 st8">objetivo.</tspan>
                      <tspan x="0" y="37.6" class="st6 st7 st8">• Acuerdos de </tspan>
                      <tspan x="0" y="54.4" class="st6 st7 st8">confidencialidad.</tspan>
                      <tspan x="0" y="75.2" class="st6 st7 st8">• Presentación de </tspan>
                      <tspan x="0" y="92" class="st6 st7 st8">oportunidad de inversión.</tspan>
                      <tspan x="0" y="112.8" class="st6 st7 st8">• Gestión de proyecto de </tspan>
                      <tspan x="0" y="129.6" class="st6 st7 st8">fundraising.</tspan>
                    </text>
                  </g>
                  <g>
                    <rect x="428.1" y="68.3" class="st5" width="119.9" height="119.2" />
                    <text transform="matrix(1 0 0 1 428.0518 80.3086)">
                      <tspan x="0" y="0" class="st6 st7 st8">• Financiero.</tspan>
                      <tspan x="0" y="20.8" class="st6 st7 st8">• Legal.</tspan>
                      <tspan x="0" y="41.6" class="st6 st7 st8">• Reputacional.</tspan>
                      <tspan x="0" y="62.4" class="st6 st7 st8">• Estratégico.</tspan>
                      <tspan x="0" y="83.2" class="st6 st7 st8">• Entorno.</tspan>
                    </text>
                  </g>
                  <g>
                    <rect x="591" y="67.8" class="st5" width="128.9" height="124.7" />
                    <text transform="matrix(1 0 0 1 590.9932 79.8086)">
                      <tspan x="0" y="0" class="st6 st7 st8">• Carta de intención </tspan>
                      <tspan x="0" y="16.8" class="st6 st7 st8">vinculante.</tspan>
                      <tspan x="0" y="37.6" class="st6 st7 st8">• Negociación </tspan>
                      <tspan x="0" y="52.4" class="st6 st7 st8">de contrato.</tspan>
                      <tspan x="0" y="73.2" class="st6 st7 st8">• Firma.</tspan>
                    </text>
                  </g>
                </g>
              </svg>

            </div>
          </div>
          <div class="col-sm-12 text-center column-servicios hidden-element">
            <h4 class="font-bold">
              SOPORTE
            </h4>
            <p class="text-left-expanded">
              Impulsamos con un diseño renovado y personalizado las actividades de nuestros clientes en mercados locales
              e internacionales.
            </p>
            <div class="expanded">
              <p class="text-left">Nuestra visión global consiste en:</p>
              <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="704.8px"
                height="109px" viewBox="0 0 704.8 109" style="enable-background:new 0 0 704.8 109;"
                xml:space="preserve">
                <defs>
                </defs>
                <g>
                  <text transform="matrix(1 0 0 1 19.3018 10.6064)">
                    <tspan x="0" y="0" class="st0-graph2 st1-graph2 st2-graph2">Prospección de</tspan>
                    <tspan x="0" y="14.8" class="st0-graph2 st1-graph2 st2-graph2">nuevos mercados</tspan>
                  </text>
                  <text transform="matrix(1 0 0 1 159.4512 69.417)">
                    <tspan x="0" y="0" class="st0-graph2 st1-graph2 st2-graph2">Identificacion de </tspan>
                    <tspan x="0" y="14.8" class="st0-graph2 st1-graph2 st2-graph2">potenciales </tspan>
                    <tspan x="0" y="29.6" class="st0-graph2 st1-graph2 st2-graph2">clientes por plaza</tspan>
                  </text>
                  <text transform="matrix(1 0 0 1 299.9043 10.6064)">
                    <tspan x="0" y="0" class="st0-graph2 st1-graph2 st2-graph2">Contacto y confirmación </tspan>
                    <tspan x="0" y="14.8" class="st0-graph2 st1-graph2 st2-graph2">de requerimientos</tspan>
                  </text>
                  <text transform="matrix(1 0 0 1 470.8633 71.4834)">
                    <tspan x="0" y="0" class="st0-graph2 st1-graph2 st2-graph2">Envío </tspan>
                    <tspan x="0" y="14.8" class="st0-graph2 st1-graph2 st2-graph2">muestras</tspan>
                  </text>
                  <text transform="matrix(1 0 0 1 559.4669 25.4307)"
                    class="st0-graph2 st1-graph2 st2-graph2">Negociación</text>
                  <text transform="matrix(1 0 0 1 658.1553 57.2734)"
                    class="st0-graph2 st1-graph2 st2-graph2">Cierre</text>
                  <path class="st3-graph2" d="M0,34h136v74.5h146.3V34h165.4v60.2c2.1,0,95,0,95,0V34h102.5v30.6h59.5" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </section>

      <!-- INFORMES -->

      <section class="section-wrapper" id="informes">
        <div class="informes-container row align-items-center justify-content-center">
          <div class="col-lg-3">
            <div class="informes-element-container">
              <div class="informes-title align-items-end">
                <img src="./themes/custom/gftheme/images/icon-yellow-agro.png" alt="Agronegocios" class="img-fluid" />
                <h4 class="font-bold">
                  Agronegocios
                </h4>
              </div>
              <div class="blue-container align-items-center" data-toggle="modal" data-target="#exampleModal-114">
                Ver Informes
                <img src="./themes/custom/gftheme/images/icon-yellow-plus.png" alt="Agronegocios" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="informes-element-container">
              <div class="informes-title align-items-end">
                <img src="./themes/custom/gftheme/images/icon-yellow-mercado.png" alt="Agronegocios"
                  class="img-fluid" />
                <h4 class="font-bold">
                  Mercado<br />
                  de carbono
                </h4>
              </div>
              <div class="blue-container align-items-center" data-toggle="modal" data-target="#exampleModal-122">
                Ver Informes
                <img src="./themes/custom/gftheme/images/icon-yellow-plus.png" alt="Agronegocios" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="informes-element-container">

              <div class="informes-title align-items-end">
                <img src="./themes/custom/gftheme/images/icon-yellow-bio.png" alt="Agronegocios" class="img-fluid" />
                <h4 class="font-bold">
                  Biotecnología
                </h4>
              </div>
              <div class="blue-container align-items-center" data-toggle="modal" data-target="#exampleModal-151">
                Ver Informes
                <img src="./themes/custom/gftheme/images/icon-yellow-plus.png" alt="Agronegocios" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="informes-container row align-items-center justify-content-center">
          <div class="col-lg-3">
            <div class="informes-element-container">
              <div class="informes-title align-items-end">
                <img src="./themes/custom/gftheme/images/icon-yellow-energia.png" alt="Agronegocios"
                  class="img-fluid" />
                <h4 class="font-bold">
                  Energías <br />
                  renovables
                </h4>
              </div>

              <div class="blue-container align-items-center" data-toggle="modal" data-target="#exampleModal-159">
                Ver Informes
                <img src="./themes/custom/gftheme/images/icon-yellow-plus.png" alt="Agronegocios" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="informes-element-container">
              <div class="informes-title align-items-end">
                <img src="./themes/custom/gftheme/images/icon-yellow-global.png" alt="Agronegocios" class="img-fluid" />
                <h4 class="font-bold">
                  Globalización <br />
                  empresarial
                </h4>
              </div>
              <div class="blue-container align-items-center" data-toggle="modal" data-target="#exampleModal-102">
                Ver Informes
                <img src="./themes/custom/gftheme/images/icon-yellow-plus.png" alt="Agronegocios" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="informes-element-container">
              <div class="informes-title align-items-end">
                <img src="./themes/custom/gftheme/images/icon-yellow-tics.png" alt="Agronegocios" class="img-fluid" />
                <h4 class="font-bold">
                  TICS
                </h4>
              </div>
              <div class="blue-container align-items-center" data-toggle="modal" data-target="#exampleModal-131">
                Ver Informes
                <img src="./themes/custom/gftheme/images/icon-yellow-plus.png" alt="Agronegocios" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
        <div class="informes-container row align-items-center justify-content-center">
          <div class="newsletter-container col-lg-3">
            <div class="informes-element-container">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Mail" />
              <button type="button" class="btn btn-newsletter" class="">ME GUSTARÍA RECIBIR INFORMES</button>
            </div>
          </div>
        </div>
      </section>

      <!-- EVENTOS -->
      <section class="section-wrapper" id="eventos">
      {{ page.eventos }}
      </section>

      <!-- PRENSA -->
      <section class="section-wrapper-last" id="prensa">
      {{ page.prensa }}
      </section>

      <!-- INFORMES -->
      <section id="informes-modals">
      {{ page.informes }}
      </section>


    </main>

  </div>
</div>


{% include directory ~ '/partials/footer.html.twig' %}
{# /.layout-container #}
