<div class="col-md-6 col-lg-4 ">
  <div class="prensa-element-container">
    <div class="prensa-title align-items-top">
      <div class="image-element">
        {{fields.field_logo_diario.content}}
      </div>
      <div class="prensa-content">
        <h6 class="font-bold">{{fields.title.content}}</h6>
        <p>{{fields.field_extracto.content}}</p>
        <div class="date">{{fields.field_fecha_de_publicacion.content}}</div>
      </div>
    </div>
    {{ fields.field_li.content}}
  </div>
</div>
