{% set yearArrayColumn = [] %}
{% set viewId=rows[0]['content']['#row']._entity.id()%}
<!-- Modal -->
<div class="modal fade" id="exampleModal-{{viewId}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel-{{viewId}}" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">

      <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>



      <div class="informes-section">

        <div class="row">
          <!-- Years tabs -->
          <div class="mobile-block col-2 "></div>
          <div class="mobile-block col-10">
            <h4 class="font-bold desktop-version" id="{{ view.name }}">{{ view.getTitle() }} </h4>
            {%set titleModal = view.getTitle() %}

            <div class="mobile-title-informes mobile-version">
                {% if  titleModal=="Agronegocios" %}
                  <img src="./themes/custom/gftheme/images/icon-yellow-agro.png" alt="Agronegocios" class="img-fluid" />
                  {% elseif  titleModal=="Mercado de Carbono" %}
                  <img src="./themes/custom/gftheme/images/icon-yellow-mercado.png" alt="Agronegocios"
                  class="img-fluid" />
                  {% elseif  titleModal=="Biotecnología" %}
                  <img src="./themes/custom/gftheme/images/icon-yellow-bio.png" alt="Agronegocios" class="img-fluid" />
                  {% elseif  titleModal=="Energías Renovables" %}
                  <img src="./themes/custom/gftheme/images/icon-yellow-energia.png" alt="Agronegocios"
                  class="img-fluid" />
                  {% elseif  titleModal=="Globalización Empresarial" %}
                  <img src="./themes/custom/gftheme/images/icon-yellow-global.png" alt="Agronegocios" class="img-fluid" />
                  {% elseif  titleModal=="TICS" %}
                  <img src="./themes/custom/gftheme/images/icon-yellow-tics.png" alt="Agronegocios" class="img-fluid" />
                {% endif %}
</div>
          </div>
          <div class="mobile-block col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab-{{viewId}}" role="tablist"
              aria-orientation="vertical">
              {% for row in rows %}
              {% set year = row['content']['#row']._entity.field_fecha.value | date('Y') %}
              {% if year not in yearArrayColumn %}


              <a class="nav-link {{loop.first ? 'active' : ''}}" id="v-pills-{{ year }}-tab-{{viewId}}"
                data-toggle="pill" href="#v-pills-{{ year }}-{{viewId}}" role="tab"
                aria-controls="v-pills-{{ year }}-{{viewId}}" aria-selected="{{loop.first}}">{{ year }}</a>
              {% set yearArrayColumn = yearArrayColumn | merge([year]) %}
              {% endif %}

              {% endfor %}
            </div>
          </div>

          <!-- PILL CONTENT -->
          <hr class="home-bar mobile-version" style="width: 90%">
          <div class="mobile-block col-10">
            <div class="tab-content" id="v-pills-tabContent-{{viewId}}">
              {% for years in yearArrayColumn %}

              <div class="tab-pane fade {{ loop.first ? 'show active':''}}" id="v-pills-{{years}}-{{viewId}}"
                role="tabpanel" aria-labelledby="v-pills-{{years}}-tab-{{viewId}}">

                <!-- PILL CAROUSEL BEGIN -->
                <div id="carouselInformes-{{years}}-{{viewId}}" class="carousel slide">

                  <ol class="carousel-indicators informes-indicators">

                    {% set i = 0 %}
                    {% for row in rows if row['content']['#row']._entity.field_fecha.value | date('Y') == years %}
                          {% if loop.index % 6 == 0 %}
                            <li data-target="#carouselInformes-{{years}}-{{viewId}}" data-slide-to="{{ i }}"
                      class="{{ i == 0 ? 'active' : '' }}"></li>
                          {% set i = i + 1 %}
                          {% endif %}
                        {% endfor %}
                  </ol>


                  <div class="carousel-inner">

                        {% for row in rows if row['content']['#row']._entity.field_fecha.value | date('Y') == years %}
                        {% if loop.first %}
                          <div class="carousel-item active">
                            <div class="informes-content-container justify-content-top">
                        {% endif %}


                            {{ row.content }}


                          {% if loop.index % 6 == 0 %}
                            </div></div><div class="carousel-item">
                            <div class="informes-content-container justify-content-top">
                          {% endif %}

                        {% endfor %}

                              </div> {# close last row #}
                              </div>



                  </div>

                </div>

                <!-- PILL CAROUSEL END -->

              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
